node_modules
.env.local
.env.*.local
.vite
dist
build
coverage
.cache
.DS_Store
.git
.gitignore
README.md
*.log
.eslintrc.cjs
.prettierrc
.prettierignore
*.md
tests
contract/tests
scripts/move
tsconfig*.json
components.json